.match-availability {
  background-color: rgba(200, 200, 200, 0.5);
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
}
.match-availability .message {
  font-size: 14px;
  font-weight: 700;
}
.match-availability .message-highlight {
  color: #169c59;
}
.inPlay-section{
  margin-bottom: 1rem !important;
}