.livedata {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.2rem 0.2rem;
  background-color: rgba(200, 200, 200, 0.5);
  border-bottom: 1px solid grey;
}

.livedata-place {
  font-weight: 600;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.livedata-wrapper {
  display: flex;
  align-items: center;
}

.livedata-tab {
  display: flex;
  flex-direction: column;
  background-color: #cfcfcf;
  padding: 0.2rem 0.8rem;
  margin: 0.2rem 0.2rem;
  border-radius: 6px;
  text-align: center;
  flex-grow: 1;
}

.livedata-tab .top {
  font-size: 14px;
  font-weight: 700;
}

.livedata-tab .bottom {
  font-size: 12px;
}

.livedata-tab .center {
  font-size: 14px;
  font-weight: 700;
  padding: 0.4rem 0rem;
}

@media screen and (max-width: 768px) {
  .livedata {
    padding: 0.2rem 0.2rem;
  }
  .livedata-tab {
    padding: 0.2rem 0.8rem;
    margin: 0.2rem 0.2rem;
  }
}
@media screen and (max-width: 480px) {
  .livedata {
    flex-wrap: wrap;
  }
}
