.btn-wrapper {
  display: flex;
  gap: 0.2rem;
  margin: 0.4rem 0rem 1rem;
}

.live-score {
  width: 100%;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #22262a;
  flex-grow: 1;
  text-align: center;
  border-radius: 5px;
  padding: 0.4rem 0;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.live-score svg {
  font-size: 1.6rem;
  margin-bottom: 2px;
}
.live-score:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.liveScore-table button {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.liveScore-table .tab-name {
  font-weight: bold;
}
