.previous-btn:after,
.next-btn:after {
  margin-bottom: 1.6rem;
}
.image-tab-container {
  margin-top: 2rem;
}
.live-casino-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}
.live-casino-tab .live-casino-title {
  text-align: left;
  font-weight: 500;
  margin: 0.4rem 0;
  font-weight: 500;
  font-size: 18px;
}
.live-casino-gamePlace {
  font-size: 0.9rem;
}
.live-casino-gamePlace a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.live-casino-gamePlace a {
  background-color: #22262a;
  color: #fff;
  text-align: center;
  padding: 10px 9px;
  border-radius: 5px;
  letter-spacing: 0.25;
  display: block;
  width: 110px;
  font-weight: 500;
}
.liveCasino-container{
  padding-top: 3.6rem;
}