.right-col-prev-btn:after {
  margin-right: 8px !important;
}
.right-section-col{
  width: 333px;
}
.top-bg, .bottom-bg{
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 5px;
}
@media screen and (max-width: 768px){
  .right-section-col{
    display: none;
  }
}
