.livedata {
  display: flex;
  flex-wrap: wrap;
}
.livedata-time {
  font-size: 13px;
  font-weight: 500;
}

.league-name {
  display: flex;
  justify-content: end;
  gap: 0.6rem;
}
.league-name span {
  color: #fff;
  border: 1px solid grey;
  background-color: grey;
  padding: 1px 5px;
  border-radius: 4px;
}
.names {
  font-size: 14px;
}
.match-time {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.match-time .matchIsLive{
  font-size: 0.6rem;
  background-color: green;
  color: #fff;
  padding: 0 8px;
  line-height: 14px;
  border-radius: 2px;
}
@media screen and (max-width: 768px) {
  .right-live {
    gap: 0.8rem;
    width: auto;
  }
  .livedata {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 480px) {
  .livedata-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .right-live {
    width: 100%;
  }
  .livedata-tab {
    width: 16%;
  }
  .livedata {
    display: flex;
    flex-direction: column;
  }
  .livedata-place {
    width: 100%;
    padding: 0 0.4rem;
  }
}
